@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,500;1,700&family=Poppins:wght@300;600&display=swap');

*{
    font-family: 'Poppins','Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}